body {
    background-color: rgb(10, 10, 10);
    font-family: "Fira Code", monospace;
    color: white;
    font-style: normal;
    text-align: center;
}
button {
    cursor: pointer;
    background-color: blanchedalmond;
    font-size: 30px;
}
#resultado {
    color: blue;
}
input {
    font-size: 20px;
}
